@import "../common";


.container {
    margin: 1rem;
    background-color: rgb(100, 100, 150,);

    p {
        color: #ffffff;

        @extend %shadow;
    }

    .header {
        color: #000;

        &:hover {
            color: #FF00A2;
        }
    }
}
