@import "styles/common";

.container {
  border: 2px solid $violet;
  border-radius: 0.5rem;
  padding: 1rem;
}

.site {}

.img {
  background-color: $gray;
  text-align: center;
}

.title {}

.description {}

.priceAndLink {

  .price {}

  .link{}
}
