@import "styles/common";

.container {
  border: 2px solid $violet;
  border-radius: 0.5rem;
  padding: 1rem;
}

.site {
  padding: 0.6rem;
  max-width: 14rem;
  background-color: #e6bddb;
  border-radius: 4px;
  max-width: 50rem;
}

.img {
  background-color: $gray;
  text-align: center;
}

.heart{
  color: rgb(141, 81, 81);
  float: right;
  padding: 0.2rem;
}

.title {}

.description {}

.priceAndLink {
  
  .price {}

  .link{}
}
