@import "../common";

.container {
  margin: 1rem;
  background-color: rgb(236 176 213);

  p {
    color: #fff;

    @extend %shadow;
  }

  .header {
    color: #000;

    &:hover {
      color: #ff00a2;
    }
  }
}
