@import "styles/common";

.container {
    display: grid;
    grid-template-areas: "top" "res";
    justify-items: center;
    gap: 2rem;
}

.top {
    grid-area: top;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchForm {
    grid-area: search;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 3px $violet solid;
    border-radius: 0.5rem;
    gap: 1rem;
}

.input {
    width: 100%;
}

.li {
    border: 2px $violet solid; 
    display:inline-block;
    width: 20rem;
    height: 1.8rem;
}


.button {
    grid-area: btn;
    color: $violet;
    font-size: 1.5rem;
}

.result {
    grid-area: res;
}

@media (max-width: 900px) {
    .searchForm {
        width: 70vw;
    }
}
@media (max-width: 600px) {
    .searchForm {
        width: 80vw;
    }
}
