@import "components/MainButton/MainButton.module.scss";

.search-block{
    width: 50%;
    margin: 3% 1px 1px 20%;
    padding: 3px;
    display: inline-flex;
    border: 3px rgb(184, 100, 167) solid;
    border-radius: 10px;
}

.button{
    position: relative;
    left: 10px;
    transform: translateY(-55%);
    background-color: rgb(184, 100, 167);
}



