%shadow {
  box-shadow: 2px 2px 30px rgb(255 255 255 / 50%);
}

%button {
  width: fit-content;
  height: fit-content;

  padding: 0.5rem 1rem;

  cursor: pointer;

  text-align: center;
}

$violet: rgb(184 100 167);