@import "../../styles/common";


.button {
    background: rgb(100, 100, 150,);
    @extend %button;
}

.button:hover {
    @extend %shadow;
}

.button:active {
    background: rgb(100, 100, 150,);

    @extend %shadow;
}

@media (max-width: 900px) {
    .button {
        font-size: 0.8em;
    }
}
